<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main_index.css" type="text/css" />
    <link rel="stylesheet" id="fontawesome_css-css" href="//use.fontawesome.com/releases/v5.9.0/css/all.css?ver=5.4.1" type="text/css" media="all">
    <!-- googleFonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;500&family=Varela+Round&display=swap" rel="stylesheet">


    <script type="text/javascript" src="db/queries/queries.js"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <!-- here we are passing the database object,
    Nazia, you can go through the menu_items and place them
    where they need to be -->
    <!-- <% if (menu_items) { %>
      <pre>  <%- JSON.stringify(menu_items) %>      </pre>
      <% } else { %>
        <h4>its not here</h4>

      <% } %> -->
    <!-- nav bar -->
    <nav>
      <div class="nav wrapper">
        <a href="/"><img class="logo" src="images/logo.png" alt="logo image"></a>
        <p class="blinking">Order now to pick-up in less than an hour!</p>
        <div>
          <a href="/menu"><h4>Menu</h4></a>
          <a href="/cart"><h4 class="cart">Cart</h4></a>
        </div>
      </div>
    </nav>
    <!-- header -->
    <header class="wrapper">
      <div class="header mySlides fade">
        <img src="images/background2.jpg" alt="Background orange pie">
        <h2>Sweet Infusion</h2>
      </div>
      <div class="header mySlides fade">
        <img src="images/background1.jpg" alt="Background orange pie">
        <h2>Sweet Infusion</h2>
      </div>
      <!-- for slide show -->
      <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>
    </header>


    <!-- main body page -->
    <main class="wrapper">
      <section class="menu_section">
        <div class="container">
          <img class="image_home" src="images/dessert1.jpg" alt="">
          <div class='overlay'>
            <h5><%=menu_items[0].name%></h5>
            <p><%=menu_items[0].description%></p>
          </div>
      </div>
      <div class="container">
          <img class="image_home" src="images/dessert2.jpg" alt="">
          <div class='overlay'>
            <h5><%=menu_items[1].name%></h5>
            <p><%=menu_items[1].description%></p>
          </div>
      </div>
      <div class="container">
          <img class="image_home" src="images/dessert3.jpg" alt="">
          <div class='overlay'>
            <h5><%=menu_items[2].name%></h5>
            <p><%=menu_items[2].description%></p>
          </div>
      </div>
        <div class="container">
          <img class="image_home" src="images/dessert4.jpg" alt="">
          <div class='overlay'>
            <h5><%=menu_items[3].name%></h5>
            <p><%=menu_items[3].description%></p>
          </div>
        </div>
        <div class="container">
          <img class="image_home" src="images/dessert5.jpg" alt="">
          <div class='overlay'>
            <h5><%=menu_items[4].name%></h5>
            <p><%=menu_items[4].description%></p>
          </div>
        </div>
      </section>
      <!-- end of section 2 -->

      <!-- footer section -->
    </main>
    <footer>
      <section class="wrapper footer">
        <p>&copy Sweet Infusion 2020 All Rights Reserved</p>
        <div class="media">
          <span class="follow">Follow Us on</span>
          <span class="fab fa-instagram"> </span>
          <span class="fab fa-linkedin"></span>
        </div>
      </section>
    </footer>


    <script>
    var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  slides[slideIndex-1].style.display = "block";
  setTimeout(showSlides, 3000); // Change image every 2 seconds
}
      </script>
  </body>
</html>
