<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Menu</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main_index.css" type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
    <link rel="stylesheet" href="/styles/menu.css" type="text/css" />
    <link rel="stylesheet" id="fontawesome_css-css" href="//use.fontawesome.com/releases/v5.9.0/css/all.css?ver=5.4.1" type="text/css" media="all">
    <!-- googleFonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;500&family=Varela+Round&display=swap" rel="stylesheet">


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include partials/header.ejs %>
    <!-- Main menu starts here -->
    <h2 class="menu_heading">Menu</h2>
    <main class=" flex wrapper">

      <!-- Menu List starts here -->
      <ul>
        <% for(let i = 0; i < menu_items.length; i ++) { %>
        <li class="menu_container quantity">
          <!-- use index (repeater) instead of hardcoding numbers -->
          <img class="image_home image_menu" src="<%=menu_items[i].photo%>" alt="Item Image">
          <div class='dish-card'>
            <h5><%=menu_items[i].name%></h5>
            <p class="description"><%=menu_items[i].description%></p>
            <p class="time">Approx. Prep Time: <%= menu_items[i].prep_time %> minutes</p>
            <div class="menu_details" id="<%=menu_items[i].id%>">
              <span class="price">$<%=(menu_items[i].price/100).toFixed(2)%></span>
              <button class="add_to_cart" data-prep_time="<%= menu_items[i].prep_time %>" data-name="<%=menu_items[i].name%>" data-price="<%=(menu_items[i].price/100).toFixed(2)%>"> Add</button>
              <!-- add button 'add to cart' with class name add -->
            </div>
          </div>
        </li>
        <% } %>
      </ul>


      <!-- section 2 Aside for order -->
      <section class="aside_order">
          <form id="order_form" action="/checkout" method="POST">
            <h2>Order Takeout</h2>
          <div class="info" id="cart-container">Add Items From Menu</div>
          <hr>

          <h3 class="total_amount" >Subtotal : <span id="subtotal"></span></h3>
          <h3 class="total_amount tax_total_amount">Order Total <span class="tax">(Incl. Tax:13%)</span>: <span id="total"></span></h3>

          <hr>
          <input type="hidden" name="cart" id="cart">
          <button type="submit" class="checkout">Checkout</button>
          </form>
        </aside>
      </section>

    </main>
    <%- include partials/footer.ejs %>
  </body>
</html>
