<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Menu</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main_index.css" type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
    <link rel="stylesheet" href="/styles/menu.css" type="text/css" />
    <link rel="stylesheet" id="fontawesome_css-css" href="//use.fontawesome.com/releases/v5.9.0/css/all.css?ver=5.4.1" type="text/css" media="all">
    <!-- googleFonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;500&family=Varela+Round&display=swap" rel="stylesheet">


    <!-- <script type="text/javascript" src="db/queries/queries.js"></script> -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <nav>
      <div class="nav wrapper">
        <a href="/"><img class="logo" src="images/logo.png" alt="logo image"></a>

        <div>
          <a href="/menu"><h4>Menu</h4></a>
          <a href="/cart"><h4 class="cart">Cart</h4></a>
        </div>
      </div>
    </nav>
    <!-- Main menu starts here -->
    <h2 class="menu_heading">Menu</h2>
    <main class=" flex wrapper">

      <!-- Menu List starts here -->
      <ul>
        <li class="menu_container quantity">
          <!-- use index (repeater) instead of hardcoding numbers -->
          <img class="image_home image_menu" src="<%=menu_items[index].photo%>" alt="">
          <div class='dish-card'>
            <h5><%=menu_items[index].name%></h5>
            <p><%=menu_items[index].description%></p>
            <form id="f1">
              <span class="price">$<%=(menu_items[index].price/100).toFixed(2)%></span>
              <input type='button' name='subtract' onclick='javascript: subtractQty();' value='-'/>
              <input type='text' name='qty' id='qty' value="0" />
              <input type='button' name='add' onclick='javascript: document.getElementById("qty" + index).value++;' value='+'/>
            </form>
          </div>
        </li>

        <li class="menu_container">
          <img class="image_home image_menu" src="<%=menu_items[1].photo%>" alt="">
          <div class='dish-card'>
            <h5><%=menu_items[1].name%></h5>
            <p><%=menu_items[1].description%></p>
            <form id="f1">
              <span class="price">$<%=(menu_items[1].price/100).toFixed(2)%></span>
              <input type='button' name='subtract' onclick='javascript: subtractQty();' value='-'/>
              <input type='text' name='qty' id='qty' value="0" />
              <input type='button' name='add' onclick='javascript: document.getElementById("qty" + index).value++;' value='+'/>
            </form>
          </div>
        </li>
        <li class="menu_container">
          <img class="image_home image_menu" src="<%=menu_items[2].photo%>" alt="">
          <div class='dish-card'>
            <h5><%=menu_items[2].name%></h5>
            <p><%=menu_items[2].description%></p>
            <form id="f1">
              <span class="price">$<%=(menu_items[2].price/100).toFixed(2)%></span>
              <input type='button' name='subtract' onclick='javascript: subtractQty();' value='-'/>
              <input type='text' name='qty' id='qty' value="0" />
              <input type='button' name='add' onclick='javascript: document.getElementById("qty" + index).value++;' value='+'/>
            </form>
          </div>
        </li>
        <li class="menu_container">
          <img class="image_home image_menu" src="<%=menu_items[3].photo%>" alt="">
          <div class='dish-card'>
            <h5><%=menu_items[3].name%></h5>
            <p><%=menu_items[3].description%></p>
            <form id="f1">
              <span class="price">$<%=(menu_items[3].price/100).toFixed(2)%></span>
              <input type='button' name='subtract' onclick='javascript: subtractQty();' value='-'/>
              <input type='text' name='qty' id='qty' value="0" />
              <input type='button' name='add' onclick='javascript: document.getElementById("qty" + index).value++;' value='+'/>
            </form>
          </div>
        </li>
        <li class="menu_container">
          <img class="image_home image_menu" src="<%=menu_items[4].photo%>" alt="">
          <div class='dish-card'>
            <h5><%=menu_items[4].name%></h5>
            <p><%=menu_items[4].description%></p>
            <form id="f1">
              <span class="price">$<%=(menu_items[4].price/100).toFixed(2)%></span>
              <input type='button' name='subtract' onclick='javascript: subtractQty();' value='-'/>
              <input type='text' name='qty' id='qty' value="0" />
              <input type='button' name='add' onclick='javascript: document.getElementById("qty" + index).value++;' value='+'/>
            </form>
          </div>
        </li>
        <li class="menu_container">
          <img class="image_home image_menu" src="<%=menu_items[5].photo%>" alt="">
          <div class='dish-card'>
            <h5><%=menu_items[5].name%></h5>
            <p><%=menu_items[5].description%></p>
            <form id="f1">
              <span class="price">$<%=(menu_items[5].price/100).toFixed(2)%></span>
              <input type='button' name='subtract' onclick='javascript: subtractQty();' value='-'/>
              <input type='text' name='qty' id='qty' value="0" />
              <input type='button' name='add' onclick='javascript: document.getElementById("qty" + index).value++;' value='+'/>
            </form>
          </div>
        </li>
        <li class="menu_container">
          <img class="image_home image_menu" src="<%=menu_items[6].photo%>" alt="">
          <div class='dish-card'>
            <h5><%=menu_items[6].name%></h5>
            <p><%=menu_items[6].description%></p>
            <form id="f1">
              <span class="price">$<%=(menu_items[6].price/100).toFixed(2)%></span>
              <input type='button' name='subtract' onclick='javascript: subtractQty();' value='-'/>
              <input type='text' name='qty' id='qty' value="0" />
              <input type='button' name='add' onclick='javascript: document.getElementById("qty" + index).value++;' value='+'/>
            </form>
          </div>
        </li><li class="menu_container">
          <img class="image_home image_menu" src="<%=menu_items[7].photo%>" alt="">
          <div class='dish-card'>
            <h5><%=menu_items[7].name%></h5>
            <p><%=menu_items[7].description%></p>
            <form id="f1">
              <span class="price">$<%=(menu_items[7].price/100).toFixed(2)%></span>
              <input type='button' name='subtract' onclick='javascript: subtractQty();' value='-'/>
              <input type='text' name='qty' id='qty' value="0" />
              <input type='button' name='add' onclick='javascript: document.getElementById("qty" + index).value++;' value='+'/>
            </form>
          </div>
        </li><li class="menu_container">
          <img class="image_home image_menu" src="<%=menu_items[8].photo%>" alt="">
          <div class='dish-card'>
            <h5><%=menu_items[8].name%></h5>
            <p><%=menu_items[8].description%></p>
            <form id="f1">
              <span class="price">$<%=(menu_items[8].price/100).toFixed(2)%></span>
              <input type='button' name='subtract' onclick='javascript: subtractQty();' value='-'/>
              <input type='text' name='qty' id='qty' value="0" />
              <input type='button' name='add' onclick='javascript: document.getElementById("qty" + index).value++;' value='+'/>
            </form>
          </div>
        </li>
      </ul>
      <!-- section 2 Aside for order -->
      <section class="aside_order">

          <form id="order_form" action="/cart" method="POST" >
            <!-- create dynamic items using repeater -->
            <!-- hidden input fields, as they are the only things transmitted during post -->
            <input style="display: none;" type="text" name="menu_item" value="<%=menu_items[1].name%>">
            <h2>Your New Order Takeout</h2>
            <div class="flex">
              <div class="order-buttons">
                <button>-</button>
                <button class="btn peach-gradient">Peach</button>
                <button>+</button>
              </div>
              <h4><%=menu_items[1].name%></h4>
              <h4>$<%=(menu_items[1].price/100).toFixed(2)%></h4>
          </div>
          <div class="flex">
            <div class="order-buttons">
              <button>-</button>
              <button class="btn peach-gradient">Peach</button>
              <button>+</button>
            </div>
            <h4><%=menu_items[2].name%></h4>
            <h4>$<%=(menu_items[2].price/100).toFixed(2)%></h4>
          </div>
          <!-- order total placed here -->
          <hr>

          <h3 class="total_amount">Total: $<%- (menu_items[1].price/100 + menu_items[1].price/100).toFixed(2)%></h3>
          <h3 class="total_amount tax_total_amount">Order Total <span class="tax">(Incl. Tax:13%) </span>:$ 15.13</h3>
          <hr>
          <button type="submit" class="checkout">Checkout</button>
          </form>
        </aside>
      </section>

      <!-- end of section 2 -->
    </main>
      <!-- footer section -->

    <footer>
      <section class="wrapper footer">
        <p>&copy Sweet Infusion 2020 All Rights Reserved</p>
        <div class="media">
          <span class="follow">Follow Us on</span>
          <a href="https://www.instagram.com/accounts/login/?hl=en"><span class="fab fa-instagram"> </span></a>
          <a href="https://www.facebook.com"><span class="fab fa-facebook"></span></a>
        </div>
      </section>
    </footer>
    <!-- JS functions -->
    <script>
    function subtractQty(){
  if(document.getElementById("qty").value - 1 < 0)
  return;
  else
  document.getElementById("qty").value--;
  }
    </script>

  </body>
</html>
